<div class="passenger-wrapper">

  <!-- CARD -->
  <div class="passenger-card">

    <h2>{{ 'passenger.title' | t }}</h2>

    <!-- NOT LOGGED IN -->
    <div *ngIf="!loggedIn" class="not-logged">

      <div class="warning-box">
        <i class="bi bi-exclamation-triangle"></i>
        {{ 'passenger.warning' | t }}
      </div>

      <button class="login-btn" (click)="openModal()">
        <i class="bi bi-person-circle"></i>
        {{ 'passenger.loginBtn' | t }}
      </button>
    </div>

    <!-- LOGGED IN -->
    <div *ngIf="loggedIn" class="success-box user-row">
      <div class="user-name">
        <i class="bi bi-check-circle-fill"></i>
        {{ stepService.passengerInfo?.name || ('passenger.loggedSuccess' | t) }}
      </div>
    </div>

  </div>

  <!-- MODAL -->
  <app-auth-modal
    *ngIf="showModal"
    (closed)="closeModal()"
    (loggedIn)="modalLoggedIn($event)">
  </app-auth-modal>

</div>
