<h2 class="title">Extras</h2>

<button class="spin-open-btn" (click)="openWheel()" [disabled]="hasSpun">
  Bonus Çark (Çevir ve Ödül Kazan!)
</button>

<!-- ========================= -->
<!--      SPIN WHEEL MODAL     -->
<!-- ========================= -->
<div class="wheel-modal" *ngIf="showWheel">

  <!-- BACKDROP (Blur + Kapatma) -->
  <div class="modal-backdrop" (click)="closeWheel()"></div>

  <!-- MODAL BOX -->
  <div class="wheel-card" (click)="$event.stopPropagation()">

    <h3 class="wheel-title">Bonus Çark</h3>

    <!-- Lottie shine animation -->
    <!-- Shine Effects -->
    <ng-lottie 
    *ngIf="spinning"
    [options]="{ path: shineLottie, loop: true }"
     class="shine shine-1">
    </ng-lottie>

    <!-- WHEEL -->
    <div class="wheel-container">
      <div class="wheel"
        [style.transform]="'rotate(' + rotation + 'deg)'">
      </div>
      <div class="pointer"></div>
    </div>

    <!-- SPIN BUTTON -->
    <button class="spin-btn"
            (click)="spinWheel()"
            [disabled]="spinning || hasSpun">
      Çarkı Çevir!
    </button>

    <!-- RESULT -->
    <div *ngIf="result" class="result-box">
      <p>Kazandığın Ödül:</p>
      <h2>{{ result }}</h2>

      <ng-lottie
     *ngIf="result"
    [options]="{ path: confettiLottie, loop: false }"
     class="confetti">
    </ng-lottie>

    </div>

   <button *ngIf="hasSpun" class="continue-btn" (click)="continue()">
      Devam Et
    </button>

    <button class="close-btn" (click)="closeWheel()">Kapat</button>
  </div>
</div>
