<div class="seat-selection-wrapper">

  <h2>{{ 'seat.title' | t }}</h2>

  <div class="aircraft-layout">

    <!-- SOL TARAF -->
    <div class="seat-group left">
      <div
        *ngFor="let row of seatMap"
        class="row"
        [ngClass]="getRowType(row[0])">

        <ng-container *ngFor="let seat of row; index as i">
          <div
            *ngIf="i < 3"
            class="seat"
            [class.taken]="isSeatOccupied(seat)"
            [class.selected]="selectedSeat === seat"
            [class.disabled]="isSeatOccupied(seat)"
            (click)="!isSeatOccupied(seat) && selectSeat(seat)">
            {{ seat }}
          </div>
        </ng-container>

      </div>
    </div>

    <!-- SAĞ TARAF -->
    <div class="seat-group right">
      <div
        *ngFor="let row of seatMap"
        class="row"
        [ngClass]="getRowType(row[3])">

        <ng-container *ngFor="let seat of row; index as i">
          <div
            *ngIf="i >= 3"
            class="seat"
            [class.taken]="isSeatOccupied(seat)"
            [class.selected]="selectedSeat === seat"
            [class.disabled]="isSeatOccupied(seat)"
            (click)="!isSeatOccupied(seat) && selectSeat(seat)">
            {{ seat }}
          </div>
        </ng-container>

      </div>
    </div>

  </div>

  <!-- ALT ÖZET -->
  <div class="bottom-summary-area">

    <div class="legend">
      <div class="legend-item">
        <span class="legend-color" style="background:#b3e0ff;"></span>{{ 'seat.legend.standard' | t }}
      </div>
      <div class="legend-item">
        <span class="legend-color" style="background:#2ecc71;"></span>{{ 'seat.legend.selected' | t }}
      </div>
      <div class="legend-item">
        <span class="legend-color" style="background:#a9a9a9;"></span>{{ 'seat.legend.occupied' | t }}
      </div>
      <div class="legend-item">
        <span class="legend-color" style="background:#f1c40f;"></span>{{ 'seat.legend.premium' | t }}
      </div>
      <div class="legend-item">
        <span class="legend-color" style="background:#9b59b6;"></span>{{ 'seat.legend.extraLeg' | t }}
      </div>
    </div>

    <div class="total-and-action">
      <div class="total-label">
        {{ 'seat.selectedLabel' | t }} {{ selectedSeat || ('seat.none' | t) }}
      </div>

      <div class="total-price">
        {{ selectedSeat ? (getSeatPrice(selectedSeat) + ' ₺') : '0 ₺' }}
      </div>

      <div class="continue-box">
        <button
          class="continue-btn"
          (click)="continue()"
          [disabled]="!selectedSeat">
          {{ 'seat.continue' | t }}
        </button>
      </div>
    </div>

  </div>

</div>
