<app-navbar></app-navbar>

<div class="about-page">

  <!-- HERO -->
  <section class="hero">
    <div class="hero-left">
      <h1>{{ 'about.hero.title' | t }}</h1>
      <p>
        {{ 'about.hero.desc' | t }}
      </p>

      <button routerLink="/about-details" class="primary-btn">
        {{ 'about.hero.btn' | t }}
      </button>
    </div>

    <div class="hero-right">
      <ng-lottie [options]="buildingAnimation" style="width:360px;height:360px;"></ng-lottie>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="info-cards">

    <div class="card">
      <img src="assets/icons/mission.svg" alt="">
      <h3>{{ 'about.mission.title' | t }}</h3>
      <p>
        {{ 'about.mission.desc' | t }}
      </p>
    </div>

    <div class="card">
      <img src="assets/icons/vision.svg" alt="">
      <h3>{{ 'about.vision.title' | t }}</h3>
      <p>
        {{ 'about.vision.desc' | t }}
      </p>
    </div>

    <div class="card">
      <img src="assets/icons/security.svg" alt="">
      <h3>{{ 'about.security.title' | t }}</h3>
      <p>
        {{ 'about.security.desc' | t }}
      </p>
    </div>

    <div class="card">
      <img src="assets/icons/fleet.svg" alt="">
      <h3>{{ 'about.fleet.title' | t }}</h3>
      <p>
        {{ 'about.fleet.desc' | t }}
      </p>
    </div>

    <div class="back-container">
     <button class="back-btn" routerLink="/landing">{{ 'about.backBtn' | t }}</button>
    </div>


  </section>

</div>

<app-contact-block></app-contact-block>
