<div class="about-page">

  <!-- HERO -->
  <section class="hero">
    <div class="hero-left">
      <h1>SuperAirlines’a Hoş Geldiniz</h1>
      <p>
        Modern, güvenli ve yenilikçi uçuş deneyimi sunan SuperAirlines olarak
        yolculuğunuzu konforlu, hızlı ve keyifli bir hale getirmek için çalışıyoruz.
      </p>

      <button routerLink="/about-details" class="primary-btn">
        Bizi Yakından Tanıyın
      </button>
    </div>

    <div class="hero-right">
      <ng-lottie [options]="buildingAnimation" style="width:360px;height:360px;"></ng-lottie>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="info-cards">

    <div class="card">
      <img src="assets/icons/mission.svg" alt="">
      <h3>Misyonumuz</h3>
      <p>
        Her yolcumuza hızlı, güvenli ve ekonomik bir uçuş deneyimi sunmak.
      </p>
    </div>

    <div class="card">
      <img src="assets/icons/vision.svg" alt="">
      <h3>Vizyonumuz</h3>
      <p>
        Avrupa’nın en teknolojik ve en ulaşılabilir havayolu olmak.
      </p>
    </div>

    <div class="card">
      <img src="assets/icons/security.svg" alt="">
      <h3>Güvenlik</h3>
      <p>
        Filomuz uluslararası standartlarda denetlenir ve en yüksek güvenlik protokolleri uygulanır.
      </p>
    </div>

    <div class="card">
      <img src="assets/icons/fleet.svg" alt="">
      <h3>Filomuz</h3>
      <p>
        Modern uçaklardan oluşan geniş filomuz ile her gün yüzlerce rotada hizmet veriyoruz.
      </p>
    </div>
    
    <div class="back-container">
     <button class="back-btn" routerLink="/landing">← Ana Sayfaya Dön</button>
    </div>


  </section>

</div>
