<!-- src/app/offers/offers.component.html -->
<app-navbar></app-navbar>

<div class="offers-page">

  <section class="hero">
    <div class="hero-animation">
      <ng-lottie [options]="planeAnimation" style="width:260px;height:260px;"></ng-lottie>
    </div>

    <h1>{{ 'offers.title' | t }}</h1>
    <p>{{ 'offers.subtitle' | t }}</p>
  </section>

  <section class="offers-grid">

    <!-- Kış indirimi -->
    <div class="offer-card">
      <div class="animation-wrapper">
        <ng-lottie [options]="discountAnimation"
                   style="width:120px;height:120px;"></ng-lottie>
      </div>
      <h3>{{ 'offers.winter.title' | t }}</h3>
      <p>{{ 'offers.winter.desc' | t }}</p>
      <button routerLink="/offers/winter-discount">{{ 'offers.winter.btn' | t }}</button>
    </div>

    <!-- Business Class -->
    <div class="offer-card">
      <div class="animation-wrapper">
        <ng-lottie [options]="businessAnimation"
                   style="width:120px;height:120px;"></ng-lottie>
      </div>
      <h3>{{ 'offers.business.title' | t }}</h3>
      <p>{{ 'offers.business.desc' | t }}</p>
      <button routerLink="/offers/business-class">{{ 'offers.business.btn' | t }}</button>
    </div>

    <!-- Öğrenci indirimi -->
    <div class="offer-card">
      <div class="animation-wrapper">
        <ng-lottie [options]="studentAnimation"
                   style="width:120px;height:120px;"></ng-lottie>
      </div>
      <h3>{{ 'offers.student.title' | t }}</h3>
      <p>{{ 'offers.student.desc' | t }}</p>
      <button routerLink="/offers/student-discount">{{ 'offers.student.btn' | t }}</button>
    </div>
      <div class="back-container">
      <button class="back-btn" routerLink="/landing">{{ 'offers.backBtn' | t }}</button>
    </div>

  </section>

</div>

<app-contact-block></app-contact-block>
