<div class="admin-login-container">

  <div class="brand">
    <div class="brand-mark">
      <i class="bi bi-airplane"></i>
    </div>
    <div class="brand-text">SuperAirlines</div>
  </div>

  <div class="login-card">

  <button class="back-icon" (click)="goHome()">
    <i class="bi bi-arrow-left"></i>
  </button>

    <div class="toggle">
      <button [class.active]="mode==='admin'" (click)="setMode('admin')">{{ 'adminLogin.toggle.admin' | t }}</button>
      <button [class.active]="mode==='customer'" (click)="setMode('customer')">{{ 'adminLogin.toggle.customer' | t }}</button>
    </div>

    <h2 *ngIf="mode==='admin'">{{ 'adminLogin.title.admin' | t }}</h2>
    <h2 *ngIf="mode==='customer'">{{ 'adminLogin.title.customer' | t }}</h2>
    <p class="subtitle" *ngIf="mode==='admin'">{{ 'adminLogin.subtitle.admin' | t }}</p>
    <p class="subtitle" *ngIf="mode==='customer'">{{ 'adminLogin.subtitle.customer' | t }}</p>

    <div class="form-group">
      <label>{{ 'adminLogin.email' | t }}</label>
      <input type="text" [(ngModel)]="email" [placeholder]="'adminLogin.emailPlaceholder' | t">
    </div>

    <div class="form-group">
      <label>{{ 'adminLogin.password' | t }}</label>
      <input type="password" [(ngModel)]="password" [placeholder]="'adminLogin.passwordPlaceholder' | t">
    </div>

    <button class="login-btn" (click)="login()">{{ 'adminLogin.button' | t }}</button>

    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>


</div>
