<div class="admin-login-container">

  <div class="login-card">

  <button class="back-icon" (click)="goHome()">
    <i class="bi bi-arrow-left"></i>
  </button>


    <!-- Lottie admin animation -->
    <div class="animation-box">
      <ng-lottie 
        [options]="adminLottie"
        style="width:160px;height:160px;">
      </ng-lottie>
    </div>

    <div class="toggle">
      <button [class.active]="mode==='admin'" (click)="setMode('admin')">Admin Girişi</button>
      <button [class.active]="mode==='customer'" (click)="setMode('customer')">Yolcu Girişi</button>
    </div>

    <h2 *ngIf="mode==='admin'">Admin Girişi</h2>
    <h2 *ngIf="mode==='customer'">Yolcu Girişi</h2>
    <p class="subtitle" *ngIf="mode==='admin'">Yönetim paneline erişmek için giriş yapınız.</p>
    <p class="subtitle" *ngIf="mode==='customer'">Bilet işlemleri için giriş yapın.</p>

    <div class="form-group">
      <label>Email</label>
      <input type="text" [(ngModel)]="email" placeholder="admin@superairlines.com">
    </div>

    <div class="form-group">
      <label>Şifre</label>
      <input type="password" [(ngModel)]="password" placeholder="Şifre">
    </div>

    <button class="login-btn" (click)="login()">Giriş Yap</button>

    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>


</div>
