<div class="admin-wrapper">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <h3>{{ 'admin.sidebar.title' | t }}</h3>
    </div>

    <nav class="menu">
      <a routerLink="/customer" routerLinkActive="active">
        <i class="bi bi-ticket-perforated"></i>
        Musteri Ekrani
      </a>

      <a routerLink="/landing" routerLinkActive="active">
        <i class="bi bi-house"></i>
        Ana Sayfa
      </a>

      <!-- Airports -->
      <a routerLink="/admin/airports" routerLinkActive="active">
        <i class="bi bi-building"></i>
        {{ 'admin.sidebar.airports' | t }}
      </a>

      <!-- Flights -->
      <a routerLink="/admin/flights" routerLinkActive="active">
        <i class="bi bi-airplane"></i>
        {{ 'admin.sidebar.flights' | t }}
      </a>

      <!-- Users -->
       <a routerLink="/admin/users" routerLinkActive="active">
        <i class="bi bi-people"></i>
        {{ 'admin.sidebar.users' | t }}
      </a>

      <!-- Messages (YENİ EKLEDİK) -->
      <a routerLink="/admin/messages" routerLinkActive="active">
        <i class="bi bi-envelope"></i>
        {{ 'admin.sidebar.messages' | t }}
      </a>

    </nav>

    <button class="logout-btn" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      {{ 'admin.sidebar.logout' | t }}
    </button>
  </aside>

  <!-- CONTENT -->
  <main class="content">
    <nav class="topbar">
      <span>{{ 'admin.topbar.title' | t }}</span>
    </nav>

    <section class="page">
      <router-outlet></router-outlet>
    </section>
  </main>

</div>
