<div class="offer-detail">

  <!-- HERO -->
  <section class="hero-header">
    <h1>{{ 'studentDiscount.hero.title' | t }}</h1>
    <p>{{ 'studentDiscount.hero.desc' | t }}</p>
  </section>

  <!-- CONTENT CARD -->
  <div class="content-card">

    <h2>{{ 'studentDiscount.eligible.title' | t }}</h2>
    <ul>
      <li>{{ 'studentDiscount.eligible.item1' | t }}</li>
      <li>{{ 'studentDiscount.eligible.item2' | t }}</li>
    </ul>

    <h2>{{ 'studentDiscount.advantages.title' | t }}</h2>
    <ul>
      <li>{{ 'studentDiscount.advantages.item1' | t }}</li>
      <li>{{ 'studentDiscount.advantages.item2' | t }}</li>
      <li>{{ 'studentDiscount.advantages.item3' | t }}</li>
    </ul>

    <h2>{{ 'studentDiscount.conditions.title' | t }}</h2>
    <ul>
      <li>{{ 'studentDiscount.conditions.item1' | t }}</li>
      <li>{{ 'studentDiscount.conditions.item2' | t }}</li>
      <li>{{ 'studentDiscount.conditions.item3' | t }}</li>
    </ul>

    <h2>{{ 'studentDiscount.howTo.title' | t }}</h2>
    <ol>
      <li>{{ 'studentDiscount.howTo.item1' | t }}</li>
      <li>{{ 'studentDiscount.howTo.item2' | t }}</li>
      <li>{{ 'studentDiscount.howTo.item3' | t }}</li>
    </ol>

   <button class="back-btn" routerLink="/offers">
    {{ 'studentDiscount.backBtn' | t }}
  </button>


  </div>

</div>
